* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  font-family: 'Open Sans', sans-serif; }

a {
  text-decoration: none;
  color: black; }

.hidden {
  opacity: 0; }

.hidden2 {
  display: none; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: #2794E5;
  color: white; }
  header h1 {
    margin: 0;
    padding: 2rem 0; }
  header a {
    color: white;
    padding: .5rem;
    border: 2px solid white;
    border-radius: 3px;
    transition: .5s all;
    width: 100px;
    text-align: center;
    box-sizing: content-box; }
    header a:hover {
      color: #2794E5;
      background-color: white;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3); }
  header div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }

.container {
  width: 75%;
  margin: 3rem auto 0; }

.flex-center, .cities {
  display: flex;
  justify-content: center;
  align-items: center; }

.cities {
  width: 100%; }

.city {
  width: 33%;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column; }
  .city .card {
    margin: 2rem 1.5rem;
    padding: 2rem;
    box-sizing: border-box;
    border: 1px solid #f0f0f0;
    border-radius: 3px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: stretch;
    flex-direction: column; }
    .city .card .part {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column; }
      .city .card .part h4 {
        text-align: center; }
    .city .card p {
      font-size: .8rem; }

.city-img {
  width: 200px;
  height: 200px;
  border-radius: 200px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .city-img a {
    color: white;
    opacity: 0;
    text-decoration: none;
    transition: color 2s; }
  .city-img.annarbor {
    background-image: url("../images/mapGraphic.png");
    background-size: cover; }
  .city-img.lansing {
    background-image: url("../images/burstGraphic.png");
    background-size: cover; }
  .city-img.kalamazoo {
    background-image: url("../images/barGraphic.png");
    background-size: cover;
    border: 1px solid #f0f0f0; }
  .city-img:hover {
    cursor: pointer; }
    .city-img:hover a {
      opacity: 1; }

.map {
  background-image: url(../images/map.jpg);
  width: 100%;
  height: 500px; }

.subtitle {
  padding: 2rem 0; }

.viz {
  display: flex;
  justify-content: center; }

#tags {
  width: 33%; }

.burstTag {
  padding: 1rem;
  min-width: 150px;
  background-color: #2794E5;
  color: white;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  font-size: .8rem; }

.burstTooltip {
  width: 150px;
  background: white;
  opacity: 1;
  padding: .5rem;
  border: 1px solid #f0f0f0;
  border-radius: 3px;
  font-size: .8rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); }

#legend, .priceLegend, .ratingLegend, .reviewCountLegendText {
  display: flex; }

#legend {
  justify-content: space-between;
  padding: 1rem;
  background-color: #f0f0f0;
  border-radius: 3px; }
  #legend p {
    margin-bottom: 0; }

.cuisineLegend {
  margin-right: 1rem; }

.colorSwatch {
  width: 20px;
  height: 20px; }

.priceThing {
  margin: .5rem; }

#burstCuisine {
  background-color: #2794E5; }

#burstd1 {
  background-color: #31a354; }

#burstd2 {
  background-color: #78c769; }

#burstd3 {
  background-color: #c2e699; }

#burstd4 {
  background-color: #f7fcb9; }

#smallLength {
  height: 20px;
  width: 10px;
  background-color: #ff7f0f; }

#largeLength {
  height: 20px;
  width: 50px;
  background-color: #ff7f0f; }

#reviewGradient {
  background: #ff7f0f;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(right, rgba(255, 127, 15, 0.25), #ff7f0f);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, rgba(255, 127, 15, 0.25), #ff7f0f);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, rgba(255, 127, 15, 0.25), #ff7f0f);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, rgba(255, 127, 15, 0.25), #ff7f0f);
  /* Standard syntax */
  height: 20px;
  width: 160px; }

.reviewCountLegendText {
  justify-content: space-between; }

#cuisineTag {
  flex-direction: column;
  justify-content: center; }

/*# sourceMappingURL=style.css.map */
